{% extends "base.html" %}

{% block content %}
<style>
    .form-container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container form {
        margin-top: 20px;
    }

    .form-container p {
        margin-bottom: 15px;
    }

    .form-container label {
        display: block;
        font-weight: bold;
    }

    .form-container input[type="text"],
    .form-container input[type="password"] {
        width: calc(100% - 12px);
        padding: 6px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-container button {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    .form-container button:hover {
        background-color: #45a049;
    }
</style>
<div class="form-container">
    <h2>Add Records</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Your Form Has Errors
          {% for field in form %}
              {% if field.errors %}
                  {{ field.errors }}
              {% endif %}
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
